<h1>Edit <%= @section.name %> </h1>

<form action='/sections/<%= @section.id %>' type='text' method='post'>
  <input name="_method" type="hidden" value="patch">
  <label for='section_name'>Section Name:</label>
  <input id='section_name' name='section[name]' type='text' value='<%= @section.name %>'><br>
  <button>Update section</button>
</form>


<p><a href="sections/">Table of Contents</a></p>
