<h1>Epicodus Table of Contacts:</h1>

<ul>
  <% Section.all.each do |section| %>
    <li><%= section.name %> | <a href="sections/<%= section.id %>/edit">Edit</a></li>
  <% end %>
</ul>

<p><a href="sections/new">Click here to add a new section</a></p>
