<h1>Please enter a new section:</h1>

<form action='/sections' type='text' method='post'>
  <label for='section_name'>Section Name:</label>
  <input id='section_name' name='section[name]' type='text'><br>
  <button>Add lesson</button>
</form>

</p><a href="/sections/">Table of Contents</a></p>
