<h1>Epicodus: Learn How to Program</h1>

<ul>
  <% @lessons.each do |lesson| %>
  <li><a href="lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
  <% end %>
</ul>


<a href="lessons/new">Create New Lesson</a>

